export(.CallOctave)
exportMethods("$<-")
exportMethods("$")
exportMethods(.DollarNames)
exportMethods(show)
export(.O)
export(o_addpath)
export(o_assign)
export(o_assignin)
export(o_clear)
export(oconfig)
export(OctaveConfig)
export(OctaveFunction)
export(o_doc)
export(oend)
export(o_eval)
export(o_get)
export(o_help)
export(o_identity)
export(o_load)
export(omodules)
export(o_Random.seed)
export(o_rexp)
export(o_rgamma)
export(o_rnorm)
export(o_runif)
export(o_set.seed)
export(o_source)
export(ostart)
export(overbose)
export(o_version)
export(o_who)
importMethodsFrom(methods,show)
